body{
    min-height: 100vh !important;
}
h4{
    font-weight: 600;
}
.uk-card-default {
    box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px !important;
    border-radius: .375rem !important;
}
.uk-droparea{
    border-radius: .375rem !important;
    background-color: #f8f8f8 !important;
    padding: 15px;
}
.uk-droparea:hover{
    border-radius: .375rem !important;
    background-color: #f3f3f3 !important;
}